h1 {
  font-size: 55px;
  font-weight: 600;

  @include mobile {
    font-size: 35px;
  }
}

h3 {
  font-size: 20px;
}

p{
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
}
.darkcolor{
  color: #384141;
}
a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

.heading_space{
  margin-bottom: 56px;
}
.bottom0 {
  margin-bottom: 0 !important;
}

.top10 {
  margin-top: 10px;
}

.top15{
  margin-top: 15px;
}
.top20{
  margin-top: 20px;
}
.bottom10{
  margin-bottom: 10px;
}
.top30{
  margin-top: 30px;
}
.top40{
  margin-top: 40px;
}
.top60{
  margin-top: 60px;
}
.bottom15{
  margin-bottom: 15px;
}
.bottom20{
  margin-bottom: 20px;
}
.bottom30{
  margin-bottom: 30px;
}
.bottom35{
  margin-bottom: 35px;
}
.bottom20{
  margin-bottom: 20px;
}


#page-content {
  transition: 0.5s;
}

%btn{
  border: none;
  border-radius: 4px;
  color: color(primary_text);
  display: inline-block;
  text-decoration: none;
  transition: background-color .1s linear;
  background-color: color(primary);
  padding: 10px 30px;
  text-align: center;

  &:hover,&:focus,&:active{

    background-color: color(secondary);
    color: color(primary_text);
    outline: none;
  }

}
.primary_btn {
  @extend %btn;
}


.s-heading {
  
  h2{
    // font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  color: #181a2d;
  font-weight: 600;

  @include mobile {
    font-size: 30px;
  }
  }
  span{
    color: #666;
    font-size: 16px;
    line-height: 1.4;

    @include mobile {
      font-size: 14px;
      line-height: 1;
    }
  }
}
